.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    /* background-image: linear-gradient( 90.5deg,  rgba(152,45,255,1) 0.7%, rgba(90,241,255,1) 51.5%, rgba(65,239,164,1) 100.6% ); */
    /* background-image: linear-gradient( 226.4deg,  rgba(255,26,1,1) 28.9%, rgba(254,155,1,1) 33%, rgba(255,241,0,1) 48.6%, rgba(34,218,1,1) 65.3%, rgba(0,141,254,1) 80.6%, rgba(113,63,254,1) 100.1% ); */
    /* background-image: radial-gradient( circle 382px at 50% 50.2%,  rgba(73,76,212,1) 0.1%, rgba(3,1,50,1) 100.2% ); */
    background-image: radial-gradient( circle 986.6px at 10% 20%,  rgba(251,6,6,0.94) 0%, rgba(3,31,213,1) 82.8%, rgba(248,101,248,1) 87.9% );
    /* background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%); */
    /* background-image: linear-gradient(45deg, #136a8a,#267871); */
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(130,212,241,1) 0%, rgba(58,193,240,1) 90.1% ); */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar{
    display: flex;
    align-items: center;
    gap:12px;
}

.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}

.search-bar img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}

.weather-icon{
    width: 150px;
    margin: 30px 0;
}
.temperature{
    color:#fff;
    font-size: 80px;
    line-height: 1  ;

}
.location{
    color: #fff;
    font-size: 40px;
}

.weather-data{
    width: 100%;
    margin-top: 40px ;
    color:#fff;
    display: flex;
    justify-content: space-between;

}

.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap:12px;
    font-size: 22px;

}
.weather-data .col span{
    display: block;
    font-size: 16px;

}
.weather-data .col img{
    width: 26px;
    margin-top: 10px;
}